.me {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    text-align: center;
    font-family: 'Cutive Mono', monospace;

}

.p1 {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.h3 {
    text-align: center;
  
}